<!DOCTYPE html>
<html lang="ko">
{#  Note:     expects extending template rendering to define parameters:  #}
{# 'hdr_txt', holding styles for leaflet #}
{# 'map_div', holding html for area #}
{# 'script_txt', holding JS scripts for leaflet #}
<head>
    {{ hdr_txt }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/docs/favicon.ico">

    <title>NoonMap</title>
    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/docs/examples/dashboard/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    {#    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->#}
    <script src="static/docs/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
{% include 'dashboard.html' %} <!-- 대시보드-->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li {% if status == '0' %}class="active"{% endif %}><a href="{{ url_for('home', status = '0') }}">시스템 소개
                </a></li>
                <li {% if status == '1' %}class="active"{% endif %}><a href="{{ url_for('home', status = '1') }}">재난문자
                    목록
                </a></li>
                <li {% if status == '2' %}class="active"{% endif %}><a href="{{ url_for('home', status = '2') }}">예측모델
                    성능
                </a></li>
            </ul>
        </div>
        {% if status == '2' %}
            {% include 'LSTM.html' %}
        {% endif %}
        {% if status != '2' %}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">교량 하천 수위 위험도 시스템</h1>
                <div class="row placeholders">
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <img data-src="holder.js/200x200/auto/sky" class="img-responsive"
                             alt="Generic placeholder thumbnail">
                        <h4>Label</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <img data-src="holder.js/200x200/auto/vine" class="img-responsive"
                             alt="Generic placeholder thumbnail">
                        <h4>Label</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <img data-src="holder.js/200x200/auto/sky" class="img-responsive"
                             alt="Generic placeholder thumbnail">
                        <h4>Label</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                    <div class="col-xs-6 col-sm-3 placeholder">
                        <img data-src="holder.js/200x200/auto/vine" class="img-responsive"
                             alt="Generic placeholder thumbnail">
                        <h4>Label</h4>
                        <span class="text-muted">Something else</span>
                    </div>
                </div>
                {% if status == '0' %}
                    <h2 class="sub-header">교량 목록</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>bridge_name</th>
                                <th>address</th>
                                <th>etc_address</th>
                                <th>location_start</th>
                                <th>obs_date</th>
                                <th>WL</th>
                                <th>bridge_height</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for result in result_brid %}
                                <tr>
                                    <td>{{ result.bridge_name }}</td>
                                    <td>{{ result.address }}</td>
                                    <td>{{ result.etc_address }}</td>
                                    <td>{{ result.location_start }}</td>
{#                                    <td>{{ result.obs_date }}</td>#}
                                    <td>{{ result.WL }}</td>
                                    <td>{{ result.bridge_height }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% elif status == '1' %}
                    <h2 class="sub-header">재난문자 목록</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>index</th>
                                <th>date</th>
                                <th>location_name</th>
                                <th>msg</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for result in result_rain %}
                                <tr>
                                    <td>{{ result.index }}</td>
                                    <td>{{ result.create_date }}</td>
                                    <td>{{ result.location_name }}</td>
                                    <td>{{ result.msg }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
{% if status == '0' %}
    <hr/>
    {{ map_div }} <!-- 지도 -->
    <hr/>
{% endif %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="static/dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="static/docs/assets/js/vendor/holder.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="static/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
<script>{# Note: script_txt MUST follow the body, so that div ids are defined to be referenced in the scripts #}
{{ script_txt }}
</script>
</body>
</html>
