<!DOCTYPE html>
<html lang="ko">
{#  Note:     expects extending template rendering to define parameters:  #}
{# 'hdr_txt', holding styles for leaflet #}
{# 'map_div', holding html for area #}
{# 'script_txt', holding JS scripts for leaflet #}
<head>
    {{ hdr_txt }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/docs/favicon.ico">

    <title>NoonMap</title>
    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/docs/examples/dashboard/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    {#    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->#}
    <script src="static/docs/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="static/docs/examples/justified-nav/justified-nav.css" rel="stylesheet">
</head>

<body>

{% include'menu_bar.html' %}

<div class="container">
    {% if status == '2' %}
        <hr/>
        {% include 'LSTM.html' %}
    {% endif %}
    {% if status != '2' %}
        {% if status == '0' %}
            <hr/>
{#            {{ map_div }} <!-- 지도 -->#}
            <iframe class="mmap" src="/map" width="100%" height="700"></iframe>
        {% endif %}
        <div class="row">
            <div class="col-lg-12"> <!--class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" -->
{#            <hr/>#}
{#            {{ map_div }} <!-- 지도 -->#}
                {% if status == '0' %}
                    <hr/>
                    <h2 class="sub-header">교량 목록</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>교량 이름</th>
                                <th>주소</th>
                                <th>상세 주소</th>
                                <th>예측 수위(cm)</th>
                                <th>교량 높이(cm)</th>
                                <th>위험도</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if result_brid != None %}
                                {% for i in range(len_brid) %}
                                    <tr>
                                        <td>{{ result_brid[i].bridge_name }}</td>
                                        <td>{{ result_brid[i].address }}</td>
                                        <td>{{ result_brid[i].etc_address }}</td>
                                        <td>{{ pred[i] }}</td>
                                        <td>{{ result_brid[i].bridge_height }}</td>
                                        <td>{{ danger_text[i] }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                {% elif status == '1' %}
                    <h2 class="sub-header">재난문자 목록</h2>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>index</th>
                                <th>date</th>
                                <th>location_name</th>
                                <th>msg</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for result in result_rain %}
                                <tr>
                                    <td>{{ result.index }}</td>
                                    <td>{{ result.create_date }}</td>
                                    <td>{{ result.location_name }}</td>
                                    <td>{{ result.msg }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="static/dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="static/docs/assets/js/vendor/holder.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="static/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
<script>  {# Note: script_txt MUST follow the body, so that div ids are defined to be referenced in the scripts #}
{{ script_txt }}
</script>
</body>
</html>
