<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Groovin Bootstrap Template - Index</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Groovin - v2.1.0
    * Template URL: https://bootstrapmade.com/groovin-free-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo mr-auto"><a href="index.html">NoonMap</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="index1.html">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#team">Team</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background: url(static/assets/img/slide/home_image.png);">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">NoonMap의 교량 침수 위험 예측 서비스</h2>
                            <p class="animate__animated animate__fadeInUp">수도권 교량의 침수 위험으로부터 피해를 미리 줄이기 위한<br>침수 위험도 예측
                                시스템을 시작합니다!</p>
                            <p class="animate__animated animate__fadeInUp">빅데이터 청년인재 고려대학교 과정 11조<br>김민석, 신은채</p>
                            <div>
                                <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Start</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row no-gutters">
                <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
                <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
                    <div class="content d-flex flex-column justify-content-center">
                        <h3>NoonMap 서비스 소개</h3>
                        <p>
                            도로 침수로 인한 많은 인명, 시설 등의 피해가 줄줄이 나타나고 있습니다. 이에 저희는 NoonMap 서비스를 통해 과거 하천 수위의 시계열 패턴을 파악하여 딥러닝
                            모델을 통해 1시간 후의 하천 수위를 예측합니다. 예측한 하천 수위를 기반으로 수도권 내 교량들의 높이에 따른 침수 위험도를 맵을 통해 시각화하여 보여줌으로써 미래에
                            일어날 피해를 감소시키기 위한 목적의 서비스입니다.
                        </p>
                        <div class="row">
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-receipt"></i>
                                <h4>기대 효과1</h4>
                                <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut
                                    aliquip</p>
                            </div>
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-cube-alt"></i>
                                <h4>기대 효과2</h4>
                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt</p>
                            </div>
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-images"></i>
                                <h4>기대 효과3</h4>
                                <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                            </div>
                            <div class="col-md-6 icon-box">
                                <i class="bx bx-shield"></i>
                                <h4>기대 효과4</h4>
                                <p>Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta</p>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="icofont-simple-smile"></i>
                        <span data-toggle="counter-up">9</span>
                        <p><strong>서울 교량 수</strong></p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="icofont-document-folder"></i>
                        <span data-toggle="counter-up">2</span>
                        <p><strong>인천 교량 수</strong></p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="icofont-live-support"></i>
                        <span data-toggle="counter-up">64</span>
                        <p><strong>경기 교량 수</strong></p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="icofont-users-alt-5"></i>
                        <span data-toggle="counter-up">75</span>
                        <p><strong>총 교량 수</strong></p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->

    <!-- ======= 경계선 Section ======= -->
    <section id="clients" class="clients section-bg">
        <div class="container">
            <div class="row"></div>
        </div>
    </section><!-- End 경계선 Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <p>수도권 지역 내의 교량별 하천 수위 및 침수 위험도를 예측합니다.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
                    <h4 class="title"><a href="{{ url_for('home', btn_area = 'seoul') }}">서울</a></h4>
                    <p class="description">서울 교량들을 예측합니다.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-image"></i></div>
                    <h4 class="title"><a href="{{ url_for('home', btn_area = 'incheon') }}">인천</a></h4>
                    <p class="description">인천 교량들을 예측합니다.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box">
                    <div class="icon"><i class="icofont-settings"></i></div>
                    <h4 class="title"><a href="{{ url_for('home', btn_area = 'gyeonggi') }}">경기</a></h4>
                    <p class="description">경기 교량들을 예측합니다.</p>
                </div>
                <iframe class="mmap" src="/map" width="100%" height="700"></iframe>

            </div>
        </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= 경계선 Section ======= -->
    <section id="clients" class="clients section-bg">
        <div class="container">
            <div class="row"></div>
        </div>
    </section><!-- End 경계선 Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
        <div class="container">

            <div class="section-title">
                <h2>Team</h2>
                <p>팀원들의 정보를 소개합니다.</p>
            </div>

            <div class="row">

                <div class="col-lg-6 col-md-6">
                    <div class="member">
                        <img src="static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>김민석</h4>
                                <span>Team Member</span>
                                <div class="social">
                                    <a href="#team"><i class="icofont-email"> mslove95@naver.com</i></a><br>
                                    <a href="https://github.com/Mingoo12"><i class="icofont-github"> https://github.com/Mingoo12</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6" data-wow-delay="0.1s">
                    <div class="member">
                        <img src="static/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>신은채</h4>
                                <span>Team Member</span>
                                <div class="social">
                                    <a href="#team"><i class="icofont-email"></i></a><br>
                                    <a href=""><i class="icofont-github"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
        <div class="copyright">
            이상 <strong><span>NoonMap</span></strong> 서비스를 이용해주셔서 감사합니다.
        </div>
        <div class="credits">
            빅데이터 청년인재 고려대학교 과정 11조<br><strong><span>김민석, 신은채</span></strong>
        </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<!-- Vendor JS Files -->
<script src="static/assets/vendor/jquery/jquery.min.js"></script>
<script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="static/assets/vendor/php-email-form/validate.js"></script>
<script src="static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="static/assets/vendor/counterup/counterup.min.js"></script>
<script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="static/assets/vendor/venobox/venobox.min.js"></script>
<script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>

<!-- Template Main JS File -->
<script src="static/assets/js/main.js"></script>
</body>

</html>